<script>
    $(function () {
        const url = $(location).attr('pathname');
        $(`.nav-top[data-url='${url}']`).children('.nav-link').addClass('active');

        $('.logo-container').click(function () {
            location.href = '/';
        });

        $('#logout-container').hide();

        $('#user-name').click(function () {
            $('#logout-container').slideToggle(300);
        });

        $('#logout-btn').click(function () {
            if (confirm('로그아웃 하시겠습니까?')) {
                location.href = '/Logout';
            }
        });
    });
</script>

<nav class="navbar navbar-expand-lg navbar-dark" id="nav">
    <div class="logo-container">
        <img src="/public/images/logo_black_512x512.png" class="logo-img" />
        <span class="logo-txt font-white">Bus<b>Linker</b></span>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <div class="nav-container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-top" data-url="/Owner">
                    <a class="nav-link size-13" href="/Owner">톺아보기</a>
                </li>
                <li class="nav-item nav-top" data-url="/Owner/ItemList">
                    <a class="nav-link size-13" href="/Owner/ItemList">물량관리</a>
                </li>
            </ul>
            <div class="horizontal center">
                <% var profile;
                if(user.profile) {
                   profile='/public/uploads/'+user.profile;
               } else {
                   profile='/public/images/user.svg';
               } %>
                <img src="<%=profile%>" id="user-profile">
                <label class="font-white" id="user-name"><b><%=user.userName%></b> 님</label>
                <img src="/public/images/nav_down.svg" class="point">
            </div>
        </div>
    </div>
</nav>
<div id="logout-container" >
    <div class=" horizontal between">
    <label></label>
    <div id="logout-tri"></div>
    </div>
    <div id="logout-content">  
        <div class=" horizontal">
            <img src="/public/images/nav_faq.svg" class="manager-menu">
            <label class="font-white point size-11" onclick="location.href='/Faq'">고객지원</label>
        </div>
        <div class=" horizontal">
            <img src="/public/images/nav_ask.svg" class="manager-menu">
            <label class="font-white point size-11" onclick="location.href='/Ask'">문의하기</label>
        </div>
        <hr class="logout-hr">
        <div class=" horizontal">
            <img src="/public/images/logout.svg" class="manager-menu">
            <label class="font-white point size-11" id="logout-btn">로그아웃</label>
        </div>
    </div>
</div>