<footer>
    <label class="font-white size-12">CONTACTUS</label>
    <div class="footer-body">
        <label class="font-white size-11">010-4723-8131</label><br>
        <label class="font-white size-11">buslinker@gmail.com</label>
    </div>
</footer>