<footer>
    <div class="footer-contents">
        <div class="footer-container">
            <label class="font-white size-12"><b>BusLinker</b></label>
            <div class="footer-body">
                <label class="font-white size-10 footer-label">사업자번호 576-14-01124</label>
                <label class="font-white size-10 footer-label">대표 박두용</label>
            </div>
                
        </div>
        <div class="footer-container">
            <label class="font-white size-12"><b>문의하기</b></label>
            <div class="footer-body">
                <label class="font-white size-10 footer-label">010-4723-8131</label>
                <label class="font-white size-10 footer-label"><a href="mailto:buslinker@gmail.com">buslinker@gmail.com</a></label>
            </div>
        </div>
        <div class="footer-container footer-no">
            <label class="font-white size-12"><b>사이트맵</b></label>
            <div class="footer-body">
                <label class="font-white size-10">회사 소개</label>
                <label class="font-white size-10">문의하기</label>
                <label class="font-white size-10">공지사항</label>
                <label class="font-white size-10">고객지원</label>
                <label class="font-white size-10">로그인</label>
            </div>
        </div>
        <div class="footer-container">
            <label class="font-white size-12"><b>정보</b></label>
            <div class="footer-body">
                <label class="font-white size-10 footer-label">이용 약관</label>
                <label class="font-white size-10 footer-label">운송 약관</label>
                <label class="font-white size-10 footer-label">개인정보 처리 방침</label>
            </div>
        </div>
    </div>
    <label class="font-white size-10">Copyright © 2020 BusLinker Corp. All Rights Reserved.</label>
</footer>