<!DOCTYPE html>
<html>

<head>
    <%- include('config') %>
    <title>BusLinker</title>
    <script src="/public/js/container.js"></script>
</head>

<body style="background-color: #F5F5F5;">
    <!-- nav bar -->
    <%- include('nav') %>
    <div class="main">
        <div id="contents">
            <!-- 브랜드 네임과 소개 -->
            <section class="intro-container">
                <div class="intro">
                    <div>
                        <div class="">
                            <h2 id="brand" class="font-white"><b>사람</b>과 <b>화물</b>을 <b>잇다</b></h2>
                            <h3 id="brand-big" class="font-white"><b>People</b> X <b>Cargo</b></h3>
                        </div>
                        <br>
                        <p class="font-white-reverse">버스링커는 물류센터 통근버스를 활용한 화물운송 중개 플랫폼 입니다.</p><br>
                        <div class="horizontal">
                            <button class="btn-blue" onclick="location.href='https://blog.naver.com/buslinker'">더 알아보기</button>
                            <div style="width: 15px;"></div>
                            <button class="btn-line-white-reverse" onclick="location.href='/Ask?cat=convention'">제휴
                                문의하기</button>
                        </div>
                    </div>
                    <img src="/public/images/main_bus.png" id="main-back">
                </div>

            </section>
            <!-- What we do? -->
            <section class="centered" id="what-we-do-section">
                <h3>버스링커는?</h3>
                <div style="width: 80px; height: 4px; background-color: #00C4C6;"></div>
                <div id="what-we-do-container">
                    <div class="what-we-do font-white" style=" background-color: #001F46;">
                        <!-- <img src="/public/images/circle_img.png" class="what-we-do-img" /> -->
                        <h3>통근버스 운영보조</h3>
                        <br>
                        <label class="what-we-do-txt">통근버스의 노선 설정, 보유 자산 및 인력 현황, 실시간 위치추적을 제공하여 경영 효율성을 높여드립니다.</label>
                    </div>

                    <div class="what-we-do" style="background-color: white;">
                        <!-- <img src="/public/images/circle_img.png" class="what-we-do-img" /> -->
                        <h3>화물 접수</h3>
                        <br>
                        <label class="what-we-do-txt">접수한 화물이 구매 고객에게 잘 전달되도록 접수 과정을 도와드립니다</label>
                    </div>

                    <div class="what-we-do font-white" style="background-color: #84B8DF;">
                        <!-- <img src="/public/images/circle_img.png" class="what-we-do-img" /> -->
                        <h3>화물 관리</h3>
                        <br>
                        <label class="what-we-do-txt">통근버스 내에 실리는 화물은 모두 버스링커 요원이 상주하며 관리하여 안정적 운행을 지원합니다.</label>
                    </div>
                    <div class="space10"></div>
                </div>

            </section>
            <!-- 목표 -->
            <section class="centered" style="background-color: #001F46;">
                <div class="goal">
                    <label class="font-white size-17">버스링커는 여객과 물류 운송을 통합하여</label>
                    <label class="font-white size-17"><b>더 효율적인 자산 활용</b>과</label>
                    <label class="font-white size-17"><b>버스사와 물류사의 동반성장</b>을 목표로 하고 있습니다.</label><br>
                    <!-- <a class="font-white size-11" href="/Introduction">더 알아보기</a> -->
                </div>
            </section>
            <!-- 웹 관리기능 간단 소개 -->
            <section class="centered" id="des">
                <div class="des-web-container">
                    <div id="web-des">
                        <h1><b class="size-50">쓰기 편한 프로그램</b></h1>
                        <br><br>
                        <label>간단한 사용법과 한 눈에 들어오는 디자인으로 업무 효율성이 올라갑니다.</label>
                        <br><br>
                        <!-- <button type="button" class=" btn-blue">더 알아보기</button> -->
                    </div>
                    <img src="/public/images/macbook-pro-wire.png" id="labtop" />
                </div>
                <!-- 앱 관리기능 간단 소개 -->
                <br />
                <div class="des-app-container">
                    <img src="/public/images/iphones.png" id="phones" />
                    <div id="app-des">
                        <h1><b class=" size-50">현장 친화적 애플리케이션</b></h1>
                        <br>
                        <label>작업 흐름에 따른 사용 환경을 제공해 운행 및 화물관리의 능률을 올려줍니다.</label>
                        <br>
                        <br>
                        <!-- google play and ios download link -->
                        <div class="horizontal">
                            <a href="https://play.google.com/store/apps/details?id=com.mtsealove.github.buslinkeDV" target="_blank"><img
                                    id="google-play" src="/public/images/google-play-badge.png"></img></a>
                            <a href="#"><img id="app-store" src="/public/images/app-store-badge.svg"></img></a>
                        </div>
                    </div>

                </div>
            </section>
            <!-- footer -->
            <%- include('footer') %>
        </div>
    </div>
</body>

</html>