<!DOCTYPE html>
<html>

<head>
    <%- include('config') %>
    <title>BusLinker</title>
    <script src="/public/js/container.js"></script>
    <script src="/public/js/process.js"></script>
</head>

<body>
    <%- include('nav') %>
    <div class="main">
        <div id="contents">
            <!-- 회사 철학 -->
            <div class="not-full">
            <section class="centered">
                
                <div class="horizontal">
                    <img src="/public/images/logo_512x512.png" class="logo-big" />
                    <h1 class="logo-txt-big">Bus<b>Linker</b></h1>
                </div>
                <div id="intro-hr"></div>
                <h2 id="philosophy"><b>버스링커는 현장의 목소리와 항상 함께 하겠습니다.
                    </b></h2>
            </section>
        </div>
            <!-- how it works -->
            <div class="not-full">
            <section class="centered">
                <h2>버스링커 프로세스 진행과정</h2>
                <br>
                <div class="horizontal">
                    <div class="vertical">
                        <img src="/public/images/circle_img.png" class="works-img">
                        <img src="/public/images/circle_img.png" class="works-img">
                        <img src="/public/images/circle_img.png" class="works-img">
                        <img src="/public/images/circle_img.png" class="works-img">
                    </div>
                    <div class="vertical work-line">
                        <div class="work-circle">1</div><br><br><br>
                        <div class="work-circle">2</div><br><br><br>
                        <div class="work-circle">3</div><br><br><br>
                        <div class="work-circle">4</div>
                    </div>
                    <div class="work-txt">
                        <br>
                        <h4>출근</h4>
                        <pre>근로자들이 통근버스를 타고 허브 물류센터로 출근합니다.</pre><br><br>
                        <h4>배송 연계</h4>
                        <pre>허브 물류센터에서 화물을 적재해 운송 뒤 배송기사님께 전달합니다.</pre><br><br>
                        <h4>수거</h4>
                        <pre>화주사를 돌며 화물을 접수 후 허브 물류센터에 하차시킵니다.</pre><br><br>
                        <h4>퇴근</h4>
                        <pre>근로자들이 통근버스를 타고 자택으로 퇴근합니다.</pre>
                    </div>
                </div>
            </section>
        </div>
            <!-- process -->
            <div class="not-full">
                <ul id="tab">
                    <li class="tab-item tab-active" data-filter="0">물류회사</li>
                    <li class="tab-item" data-filter="1">화주사</li>
                    <li class="tab-item" data-filter="2">버스회사</li>
                </ul>
            <section class="centered">
                <br>
                <!-- 물류사 -->
                <div id="logistic-div">
                    <div class="process-container">
                        <img src="/public/images/circle_img.png" class="process-img">
                        <div class="process-txt-right">
                            <h2>Lorem ipsum dolor sit<br>
                                amet, consetetur</h2><br>
                            <pre>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
sed diam nonumy eirmod tempor invidunt ut labore et
dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            </pre>
                        </div>
                    </div>
                    <div class="process-container">
                        <div class="process-txt-left">
                            <h2>Lorem ipsum dolor sit<br>
                                amet, consetetur</h2><br>
                            <pre>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
sed diam nonumy eirmod tempor invidunt ut labore et
dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            </pre>
                        </div>
                        <img src="/public/images/circle_img.png" class="process-img">
                    </div>
                </div>
                <!-- 화주사 -->
                <div id="owner-div">
                    <div class="process-container">
                        <img src="/public/images/circle_img.png" class="process-img">
                        <div class="process-txt-right">
                            <h2>Lorem ipsum dolor sit<br>
                                amet, consetetur</h2><br>
                            <pre>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
sed diam nonumy eirmod tempor invidunt ut labore et
dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            </pre>
                        </div>
                    </div>
                    <div class="process-container">
                        <div class="process-txt-left">
                            <h2>Lorem ipsum dolor sit<br>
                                amet, consetetur</h2><br>
                            <pre>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
sed diam nonumy eirmod tempor invidunt ut labore et
dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            </pre>
                        </div>
                        <img src="/public/images/circle_img.png" class="process-img">
                    </div>
                </div>
                <!-- 버스사 -->
                <div id="bus-div">
                    <div class="process-container">
                        <img src="/public/images/circle_img.png" class="process-img">
                        <div class="process-txt-right">
                            <h2>Lorem ipsum dolor sit<br>
                                amet, consetetur</h2><br>
                            <pre>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
sed diam nonumy eirmod tempor invidunt ut labore et
dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            </pre>
                        </div>
                    </div>
                    <div class="process-container">
                        <div class="process-txt-left">
                            <h2>Lorem ipsum dolor sit<br>
                                amet, consetetur</h2><br>
                            <pre>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
sed diam nonumy eirmod tempor invidunt ut labore et
dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            </pre>
                        </div>
                        <img src="/public/images/circle_img.png" class="process-img">
                    </div>
                </div>
            </section>
        </div>
        </div>
        <%- include('footer') %>
    </div>
</body>

</html>