<script>
    $(function () {
        $('.logo-container').click(function () {
            location.href = '/';
        });

        const url = $(location).attr('pathname');
        $(`.nav-top[data-url='${url}']`).addClass('active');

        $('#start-btn').click(function () {
            location.href = '/Login';
        });

        $('#work-btn').click(function () {
            const cat = $(this).data('cat');
            var addr = '';
            switch (cat) {
                case 1:
                    addr = '/Manager';
                    break;
                case 2:
                    addr = '/Bus/Status';
                    break;
                case 4:
                    addr = '/Logistics';
                    break;
                case 3: addr = '/Owner';
                    break;
            }
            location.href = addr;
        });
    })
</script>
<div id="nav-main">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="logo-container">
            <img src="/public/images/logo_512x512.png" class="logo-img" />
            <span class="logo-txt">Bus<b>Linker</b></span>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>

            <div class="nav-container">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item nav-top" data-url="/Introduction">
                        <a class="nav-link" href="/Introduction">회사소개</a>
                    </li>
                    <li class="nav-item nav-top" data-url="/Notice">
                        <a class="nav-link" href="/Notice">공지사항</a>
                    </li>
                    <li class="nav-item nav-top" data-url="/Ask">
                        <a class="nav-link" href="/Ask">문의사항</a>
                    </li>
                    <li class="nav-item nav-top">
                        <a class="nav-link" href="/Faq">고객지원</a>
                    </li>
                    <!-- not logined -->
                    <% if(!user.userID) { %>
                    <li class="nav-item">
                        <button type="button" class="btn-blue" id="start-btn">시작하기</button>
                    </li>
                    <% } else { %>
                    <!-- if logined -->
                    <button type="button" class="btn-blue" id="work-btn" data-cat="<%=user.userCat%>">시작하기</button>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div id="indicator" style="background-color: #ffcc00; height: 1.5px; width: 0px;"></div>
</div>