<!DOCTYPE html>
<html>

<head>
    <title>Buslinker 공지사항</title>
    <%- include('config') %>
    <script src="/public/js/container.js"></script>
    <link href="/public/stylesheets/common.css" type="text/stylesheet">
</head>

<body>
    <%- include('nav') %>
    <div class="main">
        <div class='normal'>
            <h3><b>공지사항</b></h3>
            <div class="horizontal between" >
                <label>버스링커의 최신 소식을 알아보세요.</label>
                <div class=" box-search horizontal">
                    <input class=" transparent" placeholder="제목을 검색하세요.">
                    <img src="/public/images/search.png" class=" search">
                </div>
            </div>
            <br>
            <table>
                <thead>
                    <th class="head">번호</th>
                    <th class="head">제목</th>
                    <th class="head">조회수</th>
                    <th class="head">게시일</th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
        
    </div>
</body>

</html>