.btn-main {
    background-color: #001F46;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.btn-sec {
    background-color: white;
    border: 1px solid #021B46;
    border: none;
    color: #021B46;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.card3d {
    background-color: #F5F5F5;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 3px #ddd;
}

.big-popup {
    background-color: #F5F5F5;
}

.small-popup {
    background-color: #f5f5f5;
}

.small-popup-contents {
    padding: 20px 40px 20px 40px;
}

.samll-popup-header {
    background-color: #3078EB;
    padding: 10px 0px 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.small-popup-title {
    margin: 0px;
    padding: 0px;
    font-size: 14pt;
}

#user-profile {
    width: 34px;
    height: 34px;
    border-radius: 17px;
}

#user-name {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    vertical-align: bottom;
    font-size: 12pt;
    cursor: pointer;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.container-main {
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    overflow: auto;
}

th.head {
    border-bottom: 1px solid #186AA5;
    border-right: 10px solid #f5f5f5;
    color: #011D46;
    margin: 100px;
}
th.head-line {
    height: 40px;
    border-bottom: 1px solid #186AA5;
    color: #011D46;
    margin: 100px;
}

th.head-dark {
    border-bottom: 1px solid #6D809D;
    border-right: 10px solid #32373D;
    text-align: left;
    color: #A08E00;
    margin: 100px;
}

th.head-blue {
    border-bottom: 1px solid white;
    border-right: 10px solid #2A63B2;
    text-align: left;
    color: white;
    margin: 100px;
}

.sort {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.drop {
    cursor: pointer;
    width: 14px;
    height: 7px;
}

.point {
    cursor: pointer;
}

.manager-menu {
    width: 15px;
    height: 15px;
    margin-top: -10px;
    margin-right: 10px;
}

.drop-menu {
    border: 2px solid #011D46;
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 7px;
    color: #7B7B7B;
    z-index: 3;
    position: fixed;
}

ul.drop-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li.drop-item {
    cursor: pointer;
    color: black;
}

li.drop-item:hover {
    background-color: #D8E3F4;
}

.add-txt {
    margin-top: 10px;
    opacity: 0.5;
}

.add-icon {
    width: 30px;
    height: 30px;
}

#nav {
    background-color: #001F46;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.nav-top {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15pt;
}
.active {
    color: #5DBBFF !important;
    border-bottom: 2px solid #5DBBFF;
}
.logo-container {
    cursor: pointer;
}

.logo-txt {
    margin-left: 5px;
    vertical-align: middle;
    font-family: eurostile;
    font-size: 20pt;
}

.logo-img {
    width: 45px;
    height: 45px;
}

#logout-container {
    position: fixed;
    right: 10px;
    top: 70px;
    z-index: 3;
}

#logout-tri {
    width: 0px;height: 0px;
  border-top: 10px solid none;
  border-bottom: 15px solid #436CF4;
  border-right: 10px solid transparent;
  border-left: 10px solid  transparent;
}

#logout-content {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #436CF4;
    padding: 10px 20px 10px 20px;
}

hr.logout-hr {
    border: .1px solid #7C98F5;
    height: 0px;
    margin: 0px 0px 5px 0px;
    width: 100%;
}

.box0 {
    border: 2px solid #011D46;
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 7px;
    color: #7B7B7B;
    width: 165px;
}

.box-search {
    border-top: none;
    border-bottom: 1.3px solid #001f46;
    border-left: none;
    border-right: none;
    background-color: transparent;
    padding: 7px;
    color: #7B7B7B;
    width: 200px;
}

.destination {
    position: relative;
    bottom: -46px;
    align-items: left;
}

.destination-circle {
    background-color: #021B46;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    line-height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.destination-left {
    margin-left: -24px;
}

.destination-right {
    margin-right: -24px;
}

.destination-txt {
    margin-top: 5px;
    text-align: center;
}

.edit {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.line {
    top: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
}

.line-station {
    border-bottom: 24px solid #2A94D9;
}

.line-logi {
    width: 74%;
    transform: translateY(12px);
    border-bottom: 24px solid #2BB1C9;
    z-index: 1;
}

.line-owner {
    border-bottom: 24px solid #4CC3C3;
    width: 50%;
    z-index: 2;
    transform: translateY(12px);
}
.bottom-line {
    border-bottom: 2px solid #001f46;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

table {
    width: 100%;
}

tr.route-tr {
    height: 120px;
    padding-top: 20px;
    
    vertical-align: middle;
}
tr.route-tr:nth-child(odd)  {
    background-color: #F8F8F8;
}

tr.cat-tr {
    height: 80px;
    vertical-align: middle;
}

tr.common-tr {
    height: 50px;
    border-bottom: 1px solid #E0E4EA;
    vertical-align: middle;
}

tr.line-tr {
    border-bottom: 1px solid #DDDDDD;
}

td.mid {
    width: 100px;
    text-align: center;
}

td.mid2 {
    width: 200px;
    text-align: center;
}

td.space {
    width: 30px;
}

img.extend-table {
    width: 24px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.card-icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.card-shadow {
    height: 100px;
    width: 100px;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    z-index: 2;
    box-shadow: 1px 1px 3px .5px grey inset;
}
.card-icon-img {
    position: relative;
    top: -100px;
    left: 0px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.signup-icon {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.signup-shadow {
    height: 120px;
    width: 120px;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 60px;
    z-index: 2;
    box-shadow: 2px 2px 3px 1px grey inset;
}
.signup-icon-img {
    position: relative;
    top: -120px;
    left: 0px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}
.small-tr {
    font-size: 11pt;
    text-align: center;
    border-bottom: 1px solid black;
}
.table-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#modal {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#map {
    position: fixed;
    top: 62px;
    left: 0px;
    width: 50vw;
    height: 100vh;
}

#info {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 2;
    cursor: pointer;
}
#login-div {
    overflow-y: auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F5F5F5;
    padding: 50px 0px 50px 0px;
}

.input-line {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid #001F46;
    color:#001F46;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 11pt;
    padding: 10px;
    background-color: transparent;
    box-shadow: none;
}
.input-line::placeholder {
    color: #73A1C2;
}
.input-shadow {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #F5F5F5;
}
.input-shadow::placeholder {
    color: #73A1C2;
}

#info-div {
    position: fixed;
    left: 40px;
    bottom: 80px;
    z-index: 2;
    background-image: url('/public/images/conversation.png');
    background-size: cover;
    padding: 10px;
}

#list {
    position: fixed;
    top: 62px;
    right: 0;
    height: 100vh;
    width: 50vw;
    z-index: 2;
    background-color: white;
}

#tab {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.tab-item {
    font-size: 15pt;
    cursor: pointer;
    color: gray;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.tab-active {
    border-bottom: 2px solid #186AA5;
    color: #186AA5;
}

.close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.btn-blue {
    background-color: #436CF4;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.btn-slim {
    padding: 5px 30px;
}

input.transparent {
    background-color: transparent;
    width: 90%;
    border: none;
}

select.transparent {
    background-color: transparent;
    border: none;
}

img.search {}

iframe {
    border: none;
}

#trashCan {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 1px 1px 3px .5px grey inset;
}

/* calendar */

.fc-sat {
    color: #0000FF;
}

/* 토요일 */

.fc-sun {
    color: #FF0000;
}

hr.signup-hr {
    border: 1px solid white;
    width: 200px;
}

/* 일요일 */

.single-tab {
    background-color: white;
    padding: 20px 20px 0px 20px;
    border-bottom: 2px solid #011D46;
}

.item-divider {
    width: 1.5px;
    height: 50px;
    background-color: #D5D5D5;
    margin-right: 20px;
    margin-left: 20px;
}
.item-divider-last {
    height: 25px !important;
}

.item-divider-h {
    width: 15px;
    height: 1px;
    margin-right: 20px;
    background-color: #D5D5D5;
}

.tr {
    height: 80px;
    border-bottom: .5px solid #dddddd;
}
td.corp-td {
    font-size: 18pt;
    padding: 10px 20px 10px 20px;
}

.arrow {
    cursor: pointer;
}

#table-container {
    padding-top: 30px;
}

.price {
    color: #199FEF;
    cursor: pointer;
}

.quarter {
    width: 24%;
}

.calculate-icon {
    width: 40px;
    height: 40px;
}

.location-name {
    font-size: 13pt;
}

thead.blue {
    background-color: #436CF4;
    color: white;
}

th.blue {
    text-align: left;
    padding: 10px;
}
th.center {
    text-align: center;
    padding: 10px;
}

td.blue {
    padding: 10px;
}
th.middle {
    text-align: center;
}
td.middle {
    text-align: center;
}

tr.stp:nth-child(odd)  {
    background-color: #F8F8F8;
}

tr.stp-grey:nth-child(odd) {
    background-color: #ededed;
}

.full-contents {
    width: 100vw;
    height: 100vh;
    padding: 30px 50px 0px 50px;
    overflow-y: auto;
}

@media( min-width: 768px)  {
    .modal-popup {
        width: 800px;
        background-color: white;
        border-radius: 5px;
    }

    .notice-title {
        width: 70%;
    } 

    div.normal {
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 50px;
    }

    .btn-line-white-reverse {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 9px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 4px;
    }
}

@media(max-width: 767px) {
    .btn-line-white-reverse {
        background-color: transparent;
        border: 1px solid #001F46;
        color: #001F46;
        padding: 9px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 4px;
    }

    .modal-popup {
        width: 90vw;
        background-color: white;
        border-radius: 5px;
    }

    div.normal {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
    }
}