.btn-main {
    background-color: #001F46;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.btn-sec {
    background-color: white;
    border: 1px solid #021B46;
    border: none;
    color: #021B46;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

#user-profile {
    width: 34px;
    height: 34px;
    border-radius: 17px;
}

#user-name {
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: bottom;
    font-size: 13pt;
    cursor: pointer;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-main {
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    overflow: auto;
}

th.head {
    border-bottom: 1px solid #186AA5;
    border-right: 10px solid white;
    color: #011D46;
    margin: 100px;
}

th.head-dark {
    border-bottom: 1px solid #6D809D;
    border-right: 10px solid #32373D;
    text-align: left;
    color: #A08E00;
    margin: 100px;
}

th.head-blue {
    border-bottom: 1px solid white;
    border-right: 10px solid #2A63B2;
    text-align: left;
    color: white;
    margin: 100px;
}

.sort {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.drop {
    cursor: pointer;
    width: 14px;
    height: 7px;
}

.drop-menu {
    border: 2px solid #011D46;
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 7px;
    color: #7B7B7B;
    z-index: 3;
    position: fixed;
}

ul.drop-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li.drop-item {
    cursor: pointer;
    color: black;
}

li.drop-item:hover {
    background-color: #D8E3F4;
}

.add-txt {
    margin-top: 10px;
    opacity: 0.5;
}

.add-icon {
    width: 30px;
    height: 30px;
}

#nav {
    background-color: #001F46;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.nav-top {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15pt;
}

.nav-top {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15pt;
}

.logo-container {
    cursor: pointer;
}

.logo-txt {
    margin-left: 5px;
    vertical-align: middle;
    font-family: eurostile;
    font-size: 20pt;
}

.logo-img {
    width: 45px;
    height: 45px;
}

#logout-container {
    position: fixed;
    right: 10px;
    top: 70px;
    z-index: 3;
}

.box0 {
    border: 2px solid #011D46;
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 7px;
    color: #7B7B7B;
    width: 165px;
}

.box-search {
    border: 2px solid #011D46;
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 7px;
    color: #7B7B7B;
    width: 200px;
}

.destination {
    position: relative;
    bottom: -46px;
    align-items: left;
}

.destination-circle {
    background-color: #021B46;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    line-height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.destination-left {
    margin-left: -24px;
}

.destination-right {
    margin-right: -24px;
}

.destination-txt {
    margin-top: 5px;
    text-align: center;
}

.edit {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.line {
    top: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
}

.line-station {
    border-bottom: 24px solid #FB2626;
}

.line-logi {
    width: 74%;
    transform: translateY(12px);
    border-bottom: 24px solid #FF7900;
    z-index: 1;
}

.line-owner {
    border-bottom: 24px solid #7000FF;
    width: 50%;
    z-index: 2;
    transform: translateY(12px);
}

table {
    width: 100%;
}

tr.route-tr {
    height: 100px;
    border-bottom: 1px solid #1C69A5;
    vertical-align: top;
}

tr.cat-tr {
    height: 80px;
    vertical-align: middle;
}

tr.common-tr {
    height: 50px;
    border-bottom: 1px solid #E0E4EA;
    vertical-align: middle;
}

td.mid {
    width: 100px;
    text-align: center;
}

td.mid2 {
    width: 200px;
    text-align: center;
}

td.space {
    width: 30px;
}

img.extend-table {
    cursor: pointer;
}

.table-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#modal {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#map {
    position: fixed;
    top: 62px;
    left: 0px;
    width: 55vw;
    height: 100vh;
}

#info {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 2;
    cursor: pointer;
}

#info-div {
    position: fixed;
    left: 40px;
    bottom: 80px;
    z-index: 2;
    background-image: url('/public/images/conversation.png');
    background-size: cover;
    padding: 10px;
}

#list {
    position: fixed;
    top: 62px;
    right: 0;
    height: 100vh;
    width: 45vw;
    z-index: 2;
    background-color: white;
}

#tab {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.tab-item {
    font-size: 15pt;
    cursor: pointer;
    color: gray;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.tab-active {
    border-bottom: 2px solid #186AA5;
    color: #186AA5;
}

.close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.btn-blue {
    background-color: #436CF4;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.btn-line-white {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

input.transparent {
    background-color: transparent;
    width: 90%;
    border: none;
}

img.search {}

iframe {
    border: none;
}

#trashCan {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border-style: dashed;
    border: 1.5px dashed #C6C6C6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* calendar */

.fc-sat {
    color: #0000FF;
}

/* 토요일 */

.fc-sun {
    color: #FF0000;
}

/* 일요일 */

div.normal {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.single-tab {
    background-color: white;
    padding: 20px 20px 0px 20px;
    border-bottom: 2px solid #011D46;
}

.item-divider {
    width: 1px;
    height: 50px;
    background-color: #D5D5D5;
    margin-right: 20px;
    margin-left: 20px;
}

.tr {
    height: 80px;
    border-bottom: 1px solid #707070;
}

#table-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

.price {
    color: #199FEF;
    cursor: pointer;
}