@font-face {
    font-family: 'eurostile';
    src: url('/public/fonts/EuroStyle\ Normal.ttf');
}

.font-white {
    color: white;
}

.size-10 {
    font-size: 10pt;
}

.size-11 {
    font-size: 11pt;
}

.size-12 {
    font-size: 12pt;
}

.size-11 {
    font-size: 11pt;
}

.size-13 {
    font-size: 13pt;
}

.size-14 {
    font-size: 14pt;
}

.size-15 {
    font-size: 15pt;
}

.size-16 {
    font-size: 16pt;
}

.size-17 {
    font-size: 17pt;
}
.size-18 {
    font-size: 18pt;
}
.size-19 {
    font-size: 19pt;
} 
.size-20 {
    font-size: 20pt;
}

.size-50 {
    font-size: 50pt;
}
 @media ( min-width: 768px) {
    #brand {
        font-size: 50pt;
    }
    #brand-big {
        font-size: 55pt;
    }
    .faq-big {
        color: #001F46;
        font-size: 40pt;
    }
    .faq-q-big {
        margin-left: 30px;
        font-size: 25pt;
    }
    .font-white-reverse {
        color: white;
    }
}

@media( max-width: 767px) {
    .font-white-reverse {
        color: #001F46;
    }
    #brand {
        font-size: 30pt;
    }
    #brand-big {
        font-size: 35pt;
    }
    .faq-big {
        color: #001F46;
        font-size: 30pt;
    }
    .faq-q-big {
        margin-left: 20px;
        font-size: 20pt;
    }
}

/* text */

#philosophy {
    margin-top: 30px;
    font-size: 24pt;
    text-align: center;
}

#philosophy-sub {
    margin-top: 20px;
    text-align: center;
    font-size: 16pt;
}

.link {
    color: #5885FF;
    cursor: pointer;
}

.rules {
    color: #7C7C7C;
    font-size: 14pt;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.rules.active {
    color: black;
}

.faq-cat {
    color: #001F46;
    font-size: 14pt;
}

.faq-cnt {
    color: #B2B2B2;
    font-size: 12pt;
}

.faq-a {
    cursor: pointer;
}

.faq-pre {
    margin-left: 30px;
    font-size: 14pt;
    width: 80%;
    white-space: pre-wrap;
}

.index {
    cursor: pointer;
    color: #5C6774;
}