@font-face{
    font-family: 'eurostile';
    src: url('/public/fonts/EuroStyle\ Normal.ttf');
}

.font-white {
    color: white;
}

.size-10 {
    font-size: 10pt;
}
 
.size-11{
    font-size: 11pt;
}

.size-12 {
    font-size: 12pt;
}

.size-11 {
    font-size: 11pt;
}

.size-13 {
    font-size: 13pt;
}

.size-14 {
    font-size: 14pt;
}

.size-15 {
    font-size: 15pt;
}

.size-16 {
    font-size: 16pt;
}

#brand {
    font-size: 60pt;
}

#brand-big {
    font-size: 75pt;
}

/* text */
#philosophy {
    margin-top: 30px;
    font-size: 24pt;
    text-align: center;
}

#philosophy-sub {
    margin-top: 20px;
    text-align: center;
    font-size: 16pt;
}