.full {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup-card {
    width: 400px;
    opacity: 0.6;
}

.signup-img-div {
    height: 400px;
    background-color: #7FA7CC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-img {
    width: 100px;
    height: 100px;
}

.signup-body {
    background-color: #1C69A5;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    cursor: pointer;
}

.logo-txt {
    margin-top: 5px;
    margin-left: 5px;
    font-family: eurostile;
    font-size: 20pt;
}

.logo-img {
    width: 45px;
    height: 45px;
}

#nav {
    background-color: #001F46;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.nav-top {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15pt;
}

#logout-container {
    position: fixed;
    right: 10px;
    top: 70px;
    z-index: 3;
}

#route-table {
    margin-top: 20px;
    width: 93vw;
}

.destination {
    position: relative;
    bottom: -46px;
    align-items: left;
}

.destination-circle {
    background-color: #021B46;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    line-height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.destination-left {
    margin-left: -24px;
}

.destination-right {
    margin-right: -24px;
}

.destination-txt {
    margin-top: 5px;
    text-align: center;
}

.edit {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.line {
    top: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
}

#line-station {
    border-bottom: 24px solid #FB2626;
}

#line-logi {
    width: 74%;
    transform: translateY(12px);
    border-bottom: 24px solid #FF7900;
    z-index: 1;
}

#line-owner {
    border-bottom: 24px solid #7000FF;
    width: 50%;
    z-index: 2;
    transform: translateY(12px);
}


.sm-btn {
    height: 36px;
    width: 36px;
    margin: 5px;
    cursor: pointer;
}

#modal {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup {
    width: 400px;
}

#search-addr {
    color: white;
    cursor: pointer;
}