.full {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup-card {
    width: 400px;
    opacity: 0.6;
}

.signup-img-div {
    height: 400px;
    background-color: #7FA7CC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-img {
    width: 100px;
    height: 100px;
}

.signup-body {
    background-color: #1C69A5;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav {
    position: fixed;
    width: 100%;
    top: 0;
}

.logo-container {
    cursor: pointer;
}

.logo-txt {
    margin-top: 5px;
    margin-left: 5px;
    font-family: eurostile;
    font-size: 20pt;
}

.logo-img {
    width: 45px;
    height: 45px;
}

.user-img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 100px;
}

.error-msg {
    font-size: 10pt;
    color: red;
}