#item_sum {
    position: fixed;
    left: 0px;
    top: 62px;
    width: 25vw;
    height: 100%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: auto;
    padding-bottom: 150px;
}

#item_detail {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #2A63B2;
    position: fixed;
    top: 62px;
    width: 75vw;
    height: 94vh;
    padding: 20px;
    right: 0px;
    overflow: scroll;
}

#period {
    margin-top: 20px;
    border: 2px solid #011D46;
    background-color: white;
    border-radius: 5px;
    height: 40px;
    color: #011D46;
    width: 100px;
}

#item-table {
    width: 100%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
tr.item {
    height: 50px;
    border-bottom: 1px solid #729FDB;
}

#alert {
    border-radius: 5px;
    background-color: #011D46;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 10px;
    padding: 10px;
    z-index: 2;
}

#modal {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#check-div {
    position: fixed;
    background-color: #2A63B2;
    width: 75vw;
    height: 80px;
    bottom: 0px;
    left: 25vw;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding-right: 20px;
    align-items: center;
}

.item-sm {
    height: 50px;
    vertical-align: middle;
    border-bottom: 1px solid #021B46;
    cursor: pointer;
}

.route-left {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #011D46;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
    font-size: small;
    width: 35%;
}

.route-right {
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #011D46;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: small;
    color: white;
    width: 35%;
}

.route-middle {
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    border: 2px solid #011D46;
    background-color: white;
    color: #011D46;
    border-radius: 10px;
    width: 30%;
}

#receipt-left {
    background-color: #3F3F8E;
    padding: 30px 20px 30px 20px;
    width: 40%;
    color: white;
}

#receipt-right {
    width: 60%;
    padding: 20px 50px 20px 50px;
}