.user-img {
    width: 172px;
    height: 172px;
    margin-bottom: 15px;
    border-radius: 100px;
}

.sector {
    width: 15vw;
    margin-left: 20px;
    margin-right: 20px;
}

.error-msg {
    font-size: 10pt;
    color: red;
}

#nav {
    background-color: transparent;
}

#signup_form {
    width: 70%;
}