#nav {
    background-color: #001F46;
    position: fixed;
    width: 100%;
    top: 0;
}
.logo-txt {
    margin-top: 5px;
    margin-left: 5px;
    font-family: eurostile;
    font-size: 20pt;
}

.logo-img {
    width: 45px;
    height: 45px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center {
    justify-content: center;
}

/* navigation */
.nav-top {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15pt;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

#map {
    width: 55vw;
    height: 100vh;
}

.container {
    width: 100%;
    position: fixed;
    top: 62px;
}

#info {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 2;
    cursor: pointer;
}

#info-div {
    position: fixed;
    left: 40px;
    bottom: 80px;
    z-index: 2;
    background-image: url('/public/images/conversation.png');
    background-size: cover;
    padding: 10px;
}

#list {
    position: fixed;
    top: 62px;
    right: 0;
    height: 100vh;
    width: 45vw;
    z-index: 2;
    background-color: white;
}

#tab {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.tab-item {
    font-size: 15pt;
    cursor: pointer;
    color: gray;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.tab-active {
    border-bottom: 2px solid #186AA5;
    color: #186AA5;
}

/* table */
#table-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

.tr {
    font-size: 9pt;
    text-align: center;
    border-bottom: 1px solid black;
}

.filter {
    font-size: 14pt;
}

.location-name {
    font-size: 13pt;
}

.action {
    font-size: 12pt;
    padding-top: 20px;
    padding-bottom: 20px;
}