#nav {
    background-color: #001F46;
    position: fixed;
    width: 100%;
    top: 0;
}

#nav-signup {
    position: fixed;
    width: 100%;
    top: 0;
}

#logout-container {
    position: fixed;
    right: 10px;
    top: 70px;
    z-index: 3;
}

.full {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    cursor: pointer;
}

.logo-txt {
    margin-top: 5px;
    margin-left: 5px;
    font-family: eurostile;
    font-size: 20pt;
}

.logo-img {
    width: 45px;
    height: 45px;
}

.center {
    justify-content: center;
}

/* navigation */

.nav-top {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15pt;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

#map {
    width: 55vw;
    height: 100vh;
}

#info {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 2;
    cursor: pointer;
}

#info-div {
    position: fixed;
    left: 40px;
    bottom: 80px;
    z-index: 2;
    background-image: url('/public/images/conversation.png');
    background-size: cover;
    padding: 10px;
}

#list {
    position: fixed;
    top: 62px;
    right: 0;
    height: 100vh;
    width: 45vw;
    z-index: 2;
    background-color: white;
}

#tab {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.tab-item {
    font-size: 15pt;
    cursor: pointer;
    color: gray;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.tab-active {
    border-bottom: 2px solid #186AA5;
    color: #186AA5;
}

/* table */

#table-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

.tr {
    font-size: 9pt;
    text-align: center;
    border-bottom: 1px solid black;
}

.filter {
    font-size: 14pt;
}

.location-name {
    font-size: 13pt;
}

.action {
    font-size: 12pt;
    padding-top: 20px;
    padding-bottom: 20px;
}

#manage-route {
    width: 99vw;
    border-spacing: 20px;
    padding: 20px;
}

.search {
    border: 1px solid #011D46;
    padding: 5px;
    border-radius: 5px;
    width: 180px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.input-search {
    background-color: transparent;
    border: none;
    width: 130px;
}

.lock {
    margin-left: 10px;
}

.route-conatiner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.route-line {
    margin-top: -15px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 91%;
    justify-content: space-between;
}

.route {
    width: 100%;
    margin-bottom: -2px;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.line {
    border-bottom: 4px solid white;
}

.line-commute {
    border-color: #FB2626;
}

.line-collect {
    border-color: #FF7800;
}

.line-delivery {
    border-color: #6E00FF;
}

.route-circle {
    background-color: #021B46;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    margin-bottom: -15px;
}

.route-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 40px;
}

.drop-down {
    width: 20px;
    height: 10px;
}

.route-search-td {
    vertical-align: top;
}

.route-tr {
    border-bottom: 1px solid #6D809D;
}

.route-td {
    vertical-align: top;
    min-width: 95px;
    vertical-align: top;
    padding-top: 20px;
    text-align: center;
}

#manage-head {
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 160px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.th-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.check_icon {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

.bus_check {
    width: 20px;
    height: 15px;
    visibility: hidden;
}

.bus_checked {
    visibility: visible;
}