<!DOCTYPE html>
<html>
    <head>
        <%- include('config') %>
        <title>BusLinker 메인</title>
    </head>
    <body>
        <%- include('nav') %>
        <section>
            
        </section>
    </body>
</html>