<!DOCTYPE html>
<html>
    <head>
        <%- include('config')%>
        <title>물량관리</title>
    </head>
    <body>
        <%- include('nav')%>
        <section class="container-main">
            <div class="normal">
                <div class="horizontal between">
                    <div>
                        <label>물량 현황</label>
                        <h3>배송 6000상자</h3>
                    </div>
                    <div class="horizontal">
                        <!-- select date -->
                        <select class="box0">
                            <option>2020-01-18</option>
                            <option>2020-01-18</option>
                        </select>
                        <div style="width: 20px;"></div>
                        <!-- 배송 / 수거 선택 -->
                        <select class="box0">
                             <option>배송</option>
                             <option>수거</option>
                        </select>
                    </div>
                    
                </div>
                
                <table style="width: 100%; margin-top: 30px;">
                    <thead>
                        <th class="head">회사</th>
                        <th class="head">기사</th>
                        <th class="head">차량</th>
                        <th class="head">상태</th>
                        <th class="head">물량</th>
                        <th class="head">화주</th>
                        <th class="head">비고</th>
                    </thead>
                </table>
            </div>
            
        </section>
    </body>
</html>