<!DOCTYPE html>
<html>
    <head>
        <%- include('config')%>
        <title>물량관리</title>
    </head>
    <body>
        <%- include('nav')%>
        <section class="container-main">
            <div class="normal">
                <label>물량 현황</label>
                <h3>배송 6000상자</h3>
                <table style="width: 100%; margin-top: 30px;">
                    <thead>
                        <th class="head">회사</th>
                        <th class="head">기사</th>
                        <th class="head">차량</th>
                        <th class="head">상태</th>
                        <th class="head">물량</th>
                        <th class="head">화주</th>
                        <th class="head">비고</th>
                    </thead>
                </table>
            </div>
            
        </section>
    </body>
</html>