<script>
    $(function() {
        const url=$(location).attr('pathname');
        $(`.nav-top[data-url='${url}']`).children('.nav-link').addClass('active');

        $('.logo-container').click(function() {
            location.href='/';
        });

        $('#logout-container').hide();

        $('#user-name').click(function() {
            $('#logout-container').slideToggle(300);
        });

        $('#logout-btn').click(function() {
            if(confirm('로그아웃 하시겠습니까?')) {
                location.href='/Logout';
            }
        });
        $('#sign-up-btn').click(function() {
            location.href='/Manager/SignUp';
        }); 
    });
</script>

<nav class="navbar navbar-expand-lg navbar-dark" id="nav">
    <div class="logo-container">
        <img src="/public/images/logo_black_512x512.png" class="logo-img" />
        <span class="logo-txt font-white">Bus<b>Linker</b></span>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <div class="nav-container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-top" data-url="/Manager">
                    <a class="nav-link size-13" href="/Manager">톺아보기</a>
                </li>
                <li class="nav-item nav-top" data-url="/Manager/Status">
                    <a class="nav-link size-13" href="/Manager/Status">운행 현황</a>
                </li>
                <li class="nav-item nav-top" data-url="/Manager/Route">
                    <a class="nav-link size-13" href="/Manager/Route">노선관리</a>
                </li>
                <li class="nav-item nav-top" data-url="/Manager/ItemList">
                    <a class="nav-link size-13" href="/Manager/ItemList">물량관리</a>
                </li>
                <li class="nav-item nav-top" data-url="/Manager/Resource">
                    <a class="nav-link size-13" href="/Manager/Resource">자산관리</a>
                </li>
                <li class="nav-item nav-top" data-url="/Manager/Calculate">
                    <a class="nav-link size-13" href="/Manager/Calculate">정산관리</a>
                </li>
            </ul>
            <div class="horizontal center">
                <% var profile;
                if(user.profile) {
                   profile='/public/uploads/'+user.profile;
               } else {
                   profile='/public/images/user.png';
               } %>
               <img src="<%=profile%>" id="user-profile">
               <label class="font-white" id="user-name"><%=user.userName%></label>
            </div>
        </div>
    </div>
</nav>
<div id="logout-container" style="background: url('/public/images/drop_top.svg'); background-repeat: no-repeat; background-size: 100%; padding-top: 5px;">
    <div class="card-body">
    <div class=" horizontal" >
        <img src="/public/images/signup.svg" class=" manager-menu">
        <label class="font-white point size-11" id="sign-up-btn">업체 회원가입</label>
    </div> 
    <div style="width: 100%; height: 1px; background-color: white; margin-bottom: 10px;"></div>
    <div class=" horizontal">
        <img src="/public/images/logout.svg" class="manager-menu">
        <label class="font-white point size-11" id="logout-btn">로그아웃</label>
    </div> 
        
    </div>
</div>