<!DOCTYPE html>
<html>
    <head>
        <title>자산관리</title>
        <%- include('config') %>
    </head>
    <body>
        <%- include('nav')%>
        <section class="container-main">
            <br>
            <div class="horizontal between" style="width: 96vw;">
                <!-- bus list -->
                <div class="card" style="width: 49.5%;">
                    <div class="card-body">
                        
                    </div>
                </div>
                <!-- driver list -->
                <div class="card" style="width: 49.5%;">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </section>
    </body>
</html>