<!DOCTYPE html>
<html>
    <head>
        <%- include('config')%>
        <title>회원가입</title>
        <script>
            $(function() {
                $('.signup-card').hover(function() {
                    $(this).css('opacity', 1);
                });
                $('.signup-card').mouseleave(function() {
                    $(this).css('opacity', 0.6);
                });
                $('.signup-card').click(function() {
                    const cat=$(this).attr('data-cat');
                    location.href=`/Manager/Signup/Form?MemberCat=${cat}`;
                })
            });
        </script>
    </head>
    <body style="background: url('/public/images/account_back.png');">
        <section class="full">
            <h1 class=" font-white">BusLinker에 오신것을 환영합니다</h1>
            <p class="font-white">회원 유형을 선택해주세요</p><br><br>

            <div id="signup-container">
                <div class="signup-card" data-cat="2">
                    <div class="signup-img-div"> 
                        <img class="signup-img" src="/public/images/signup_bus.png">
                    </div>
                    <div class="signup-body">
                        <h2 class="font-white">버스사</h2>
                        <hr class=" signup-hr">
                        <label class="font-white">버스사 회원가입</label>
                    </div>
                </div>

                <div class="signup-card" data-cat="3">
                    <div class="signup-img-div"> 
                        <img class="signup-img" src="/public/images/signup_owner.png">
                    </div>
                    <div class="signup-body">
                        <h2 class="font-white">화주사</h2>
                        <hr class="signup-hr" />
                        <label class="font-white">화주사 회원가입</label>
                    </div>
                </div>

                <div class="signup-card" data-cat="4">
                    <div class="signup-img-div"> 
                        <img class="signup-img" src="/public/images/signup_logi.png">
                    </div>
                    <div class="signup-body">
                        <h2 class="font-white">물류사</h2>
                        <hr class="signup-hr" />
                        <label class="font-white">물류사 회원가입</label>
                    </div>
                </div>

                <div class="signup-card" data-cat="5">
                    <div class="signup-img-div"> 
                        <img class="signup-img" src="/public/images/signup_pt.png">
                    </div>
                    <div class="signup-body">
                        <h2 class="font-white">물류관리 직원</h2>
                        <hr class="signup-hr" />
                        <label class="font-white">물류관리 직원 회원가입</label>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>