<script>
    $(function() {
        const url=$(location).attr('pathname');
        $(`.nav-top[data-url='${url}']`).addClass('active');

        $('.logo-container').click(function() {
            location.href='/';
        })
    });
</script>

<nav class="navbar navbar-expand-lg navbar-dark" id="nav">
    <div class="logo-container">
        <img src="/public/images/logo_black_512x512.png" class="logo-img" />
        <span class="logo-txt font-white">Bus<b>Linker</b></span>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <div class="nav-container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-top" data-url="/Bus/Status">
                    <a class="nav-link" href="/Bus/Status">운행현황</a>
                </li>
                <li class="nav-item nav-top" data-url="/Bus/Manage/Route">
                    <a class="nav-link" href="/Bus/Manage/Route">노선관리</a>
                </li>
                <li class="nav-item nav-top" data-url="/Ask">
                    <a class="nav-link" href="">물량관리</a>
                </li>
                <li class="nav-item nav-top">
                    <a class="nav-link" href="#">기사관리</a>
                </li>
                <li class="nav-item nav-top">
                    <a class="nav-link" href="#">차량관리</a>
                </li>
                <li class="nav-item nav-top">
                    <a class="nav-link" href="#">정산관리</a>
                </li>
            </ul>
            <div class="horizontal center">
                <img src="/public/images/logo_512x512.png" width="40" height="40">
                <label class="font-white">사용자명</label>
            </div>
            
        </div>
    </div>
</nav>